export default function SEO() {
  const structuredData = {
    '@context': 'https://schema.org',
    '@type': 'LocalBusiness',
    name: '{{ business_escaped.name }}',
    {% if contact.address_display %}
    address: {
      '@type': 'PostalAddress',
      streetAddress: '{{ business_escaped.address }}',
      addressLocality: '{{ business_escaped.city }}',
      {% if business.state %}
      addressRegion: '{{ business_escaped.state }}',
      {% endif %}
    },
    {% endif %}
    {% if contact.phone_display and contact.phone_display != "N/A" %}
    telephone: '{{ business_escaped.phone }}',
    {% endif %}
    {% if business.rating %}
    aggregateRating: {
      '@type': 'AggregateRating',
      ratingValue: '{{ business.rating }}',
      ratingCount: {{ business.reviews|length if business.reviews else 0 }},
    },
    {% endif %}
  };

  return (
    <>
      {/* Structured Data for Local Business */}
      <script
        type="application/ld+json"
        dangerouslySetInnerHTML={{ __html: JSON.stringify(structuredData) }}
      />
    </>
  )
}
